:root,
:root[data-theme="dark"] {
    --primary-color: #ebebeb; /*color = texto */
    --primary-bg: #1d1d1d;  /*bg = fundo */
    --hover-menu: #898989;
    --menu-texto:  #ebebeb;

    --icon-color: #169adc;
    --icone-tema: #e8e8e8;
    --hover-social: #169adc;

    --cor-titulo: #c042eb;

    --titulo-accordion: #e8e8e8;
    --body-accordion: #1d1d1d;
}

:root[data-theme="light"] {
    --primary-color: #1d1d1d;
    --primary-bg: #ebebeb;
    --hover-menu: #898989;
    --menu-texto: #1d1d1d;
    --hover-social:#169adc;

    --icone-tema: #1f1f1f;
    --cor-titulo: #1d1d1d;

    --titulo-accordion: #161616;
    --body-accordion: #ececec;
}

/* CSS Geral */
body{
    background: var(--primary-bg);  /* fundo */
    color: var(--primary-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px; 
}

html[data-theme="light"] .logo {
    filter: invert(0);
}

a{
    text-decoration: none;
    color: var(--primary-color);
}

a:hover{
  color: var(--hover-menu)
}

i {
  color: var(--icon-color);
}

b {
    font-weight: 900;
}

h1 {
    font-family: "Creepster", system-ui;
    font-size: 2.5rem;
    font-weight: 200;
    color: red;
}

h2 {
    font-family: "Creepster", system-ui;
}

h3 {
    font-family: "Open Sans", system-ui;
    color: #78ff02;
}

p, span, li{
    font-size: 1rem;
}

p {
    text-align: justify;
}


/* Reset CSS  */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
/* fim reset  */

/* header  */
#header {
    display: flex;
    flex-flow: row wrap;
    /* Coloca o conteúdo em linha e permite a quebra de linha. */
    justify-content: space-between;
    /* Os itens dentro do container flexível serão distribuídos de maneira uniforme ao longo do eixo principal, com espaços iguais entre eles.  */
    align-items: center;
    width: 100%;
    padding: 0.5rem 1rem;
    z-index: 2;
    background: var(--primary-bg);
}

/* .header-logo .logo */
.logo {  /* img */
    width: 3.25rem;  /* comprimento */
    height: 3.25rem;  /* altura  */
}

.header-toggle {
    display: flex;
    justify-content: flex-end;
}

#toggleTheme {
    color: var(--icone-tema);
    font-size: 2rem;
    cursor: pointer;
}

.menu {   /* UL */
    display: flex;
    align-items: center;
    background: var(--primary-bg);
    gap: 1rem;
}

.menu-item {
    width: 100%;
}

/* .menu-link {
    display: flex;
    align-items: center;
    gap: .5rem; 
} */

.header-nav {
    display: none;
}


/* Menu Mobile */

.menu-mobile {
    width: 100vw; /*V W = Viewport Width */
    position: fixed;
    bottom: 0;
    justify-content: space-between;
    border-top: 1px solid red;
    z-index: 99999;
}

.menu-mobile .menu-link {
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem 1rem;
}

.menu-link.active .menu-icon,
.menu-link.active .menu-text,
.menu-link:hover .menu-icon,
.menu-link:hover .menu-text {
    color: #169adc;  /*cor de link */
}

.menu-icon, .menu-text {
    color: var(--menu-texto);
    font-weight: 600;
}

.menu-icon{
    font-size: 1.5rem;
}

.menu-text {
    font-size: .75rem;
    text-transform: uppercase;
}

.menu-principal {
    gap: 2rem;
}

.menu-social {
    gap: 2rem;
}

.menu-social .menu-icon:hover {
    color: var(--hover-social);
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    background: transparent;
    border-radius: 3rem;
    color: var(--primary-color);
    border: none;
    padding: .5rem 1.5rem;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.05);
    transition: ease-in-out .5s;
}

.btn span, .btn i {
    font-size: 1.5rem;
    text-transform: uppercase;
}

.btn-primary span {
    color: var(--primary-color);
}

.btn-primary {
    border: 1px solid var(--hover-menu);
}

/* Main */
#home {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.video iframe {
    width: 100%;
    aspect-ratio: 16/9;
}

#home, .projetos, .sobre, .contato {
    /* padding: 5rem 10rem; */
    padding: 2.5rem 1rem;
}

/* Projetos */

.projetos {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.projetos-container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.projeto-card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.card-cover {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 1rem;
}

.card-title {  /* H3 */
    font-size: 2rem;
    color: var(--cor-titulo);
    font-weight: 100;
    /* font-family: ; */
}

.card-descricao {  /*P = paragrafo*/
    color: var(--cor-texto);
   /*  font-size: ;
    font-family: ; */
}

.card-lista, .sobre-lista { /*estrutura lista */
    margin-left: 1.25rem;
    margin-top: 15px;
    margin-bottom: 25px;
}

.card-item, .sobre-item{  /* topicos lista */
    /* list-style: none; */
    margin-top: 5px;
    list-style: disc;
}

.card-button, .card-descricao{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.card-button .btn {
    padding: .65rem 1.25rem;
    margin-top: 15px;
}

.card-button .btn span {
    font-size: 1rem;
    /* color: var(--texto-botao); */
}

.projetos .btn {
    width: auto;
    margin: auto;
}

/* Sobre */

.sobre { 
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.sobre-logo {
    width: 100%;
    object-fit: cover;
    object-position: center;
    pointer-events: none;
    border-radius: 50rem;
    border:  8px solid var(--primary-color);
}

.sobre-descricao { 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.5rem;
}

.sobre-icones {
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.sobre-icones i {
    font-size: 1.25rem;
    color: #169adc;
}

.sobre-conteudo1,
.sobre-conteudo2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2rem;
}

.sobre-conteudo2 .col1, 
.sobre-conteudo2 .col2 { 
    display: flex;
    flex-direction: column;
    text-align: justify;
    gap: 2rem;
}

.sobre-conteudo2 .col1 .row1, 
.sobre-conteudo2 .col1 .row2 { 
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.accordion-header { 
    width: 100%;
    display: flex;
    padding: 0.75rem 1rem;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--primary-color);
    background: transparent;
    text-align: left;
    cursor: pointer;
    transition: ease-in-out .3s;
}

.accordion-header span {
    color: var(--titulo-accordion);
}

/* esconder as respostas */
.accordion-body {  
    display: none;
    padding: 1.25rem;
    flex-direction: column;
    align-items: flex-start;
    gap: .625rem;
    border: 1px solid var(--primary-color);
}

.accordion-item.active .accordion-header {
    background: var(--body-accordion);
}

/* conteudo aparece após o click */
.accordion-item.active .accordion-body {
    display: flex;
}

.accordion-item.active .bi-caret-down-fill {  /* adicionar classe no icone */
    transform: rotate(180deg);
}













/* Responsividade Responsivo */

@media (min-width: 768px) {
    #header {
       position: fixed;
       padding: 1rem 6rem;
    }
    .nav-mobile {
        display: none;
    }
    .header-nav{
        display: flex;
    }
    .header-nav, 
    .header-toggle {
        min-width: 30%;
    }
    h1 {
        font-size: 5rem;
    }
    h2 {
        font-size: 3rem;
    }
    #home, .projetos, .sobre, .contato  {
        padding: 8rem 6rem 4rem 6rem;
    }
}

@media (min-width: 992px) { /*apartir de 992 */
    .projeto-card {
        flex-direction: row;
    }

    .card-reverse {
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    
    .card-cover {
        width: 55%;
    }
    .sobre {
        gap: 5rem;
    }
    .sobre-conteudo1, 
    .sobre-conteudo2 { 
        display: grid;
        grid-template-columns: 40% 60%;
    }
        
} /* fim 992px */

@media (min-width: 1200px) {

    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 2.5rem;
    }

    #home {
        padding: 10rem 6rem 2rem;
    }

    .main-content .btn {
        width: auto;
    }
    
    p, span, li {
        font-size: 1.15rem;
    }
    .card-button .btn, 
    .descricao-button .btn {
        width: auto;
    }
}
@media (min-width: 1400px) {
    h1 {
        font-size: 6.25rem;
    }
    h2{
        font-size: 4.5rem;
    }
    h3 {
        font-size: 3.25rem;
    }
    .header {
        padding: 12rem 15rem 2rem;
    }
    .projetos, .sobre, .contato {
        padding: 10rem 15rem 4rem;
    }
}
